@tailwind base;
@tailwind components;
@tailwind utilities;

/*Tailwind breaks setting the header defaults on purpose, so we'll make them classes*/
.h1 {
	font-size: 96px;
}

.h2 {
	font-size: 36px;
}

.h3 {
	font-weight: 700;
	font-size: 24px;
}

.satoshi-light{
	font-family:Satoshi-Light;
}

.satoshi-bold{
	font-family:Satoshi-Bold;
}

.satoshi-black{
	font-family:Satoshi-Black;
}

.font-12px{
	font-size: 12px;
}

.font-14px{
	font-size: 14px;
}

.font-16px{
	font-size: 16px;
}

.font-20px{
	font-size: 20px;
}

.font-24px{
	font-size: 24px;
}

.font-32px{
	font-size: 32px;
}

.font-36px{
	font-size: 36px;
}

.font-40px{
	font-size: 40px;
}

.leading-42px{
	line-height: 42px;
}

.rounded-5px{
	border-radius: 5px;
}

.border-3{
	border-width: 3px;
}

.w-30{
	width:30%;
}

p {
	font-size: 16px;
}

.home-banner{
	min-height: 1250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-position-x: center;
	background-image: url('../img/top.jpg'), linear-gradient(rgba(56,56,56,0.5),rgba(56,56,56,0.5));
}

.banner-text{
	font-weight: 500;
	max-width: 605px;
}

.logo{
	height: 49px;
	padding-right: 17px;
}

.code-logo{
	height: 45px;
	padding-top: 5px;
}

.header-container{
	margin-top: 22px;
	padding-left: 42px;
	padding-right:30px;
	height: 55px;
	font-size: 20px;
}

.mobile-header-container{
	display: none;
	padding-left: 25px;
	background-color: white;
}

.mobile-header-container-grey{
	display: none;
	padding-left: 25px;
}

.mobile-header-container-gradient{
	display: none;
	padding-left: 25px;
	background: linear-gradient(90deg, #A95131 0%, #292828 100%);
}

.mobile-header{
	min-height:80px;
}

.mobile-menu{
	margin-left: 75px;
	font-size: 24px;
	font-weight: 500;
}

.open-menu-button-div{
	margin-right: 25px;
}

.close-menu-button-div{
	margin-right: 25px;
}

.open-menu-button{
	height:30px;
}

.close-menu-button{
	height:30px;
}

.footer{
	background-color: #222222;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto;
}

.news-container{
	background-color: white;
	background: url("../img/dark-curve-short.svg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position-y: bottom;
}

.news{
	margin-right:-20px
}

.blurb-grid{
	grid-template-columns: 23% 54% 23%;
}

.build-innovate-cards-header-text{
	font-size:18px;
}

.step-container1{
	width: 280px;
}

.step-container2{
	width: 360px;
}

.step-text{
	line-height: 22px;
	width:350px;
	height: 120px;
}

.health-cta{
	max-width:330px;
	min-width: 330px;
}

.health-domains{
	min-width: 700px;
	max-width:700px;
}

.use-cases{
	margin-right:10px
}

.use-headline-text{
	font-size:40px;
}
.use-headline-subheader-text{
	font-size:22px;
}

.use-entry-desc{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.use-line{
	margin-right:46%;
	height:100%;
	margin-top:-4px;
	border-right-style: solid;
	border-right-width: 3px;

}

.use-line-1{
	margin-right:47%;
}

.use-container{
	padding-top:65px;
}

.use-num-container{
	margin-right: 80px;
}

.use-header{
	height: 370px;
	background: linear-gradient(90deg, #A95131 0%, #292828 100%);
	mix-blend-mode: normal;
}

.use-num{
	font-size: 57px;
	line-height: 76px;
}

.use-num-desc{
	font-weight: 400;
	font-size: 23px;
	line-height: 31px;
}

.uses-list{
	padding-top: 40px;
	padding-bottom: 170px;
}

.use-list{
	width: 800px;
}

.use-list-execute{
	padding-left: 81px;
}

.use-list-planning{
	padding-left: 89px;
}

.use-list-discovery{
	padding-left: 96px;
}

.use-explain{
	max-width: 450px;
	font-size: 24px;
	line-height: 32px;
}

.use-explain-container{
	font-size: 24px;
	height:190px;
}

.use-explain-badge{
	border-radius: 5px;
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	font-family: Satoshi-Black;
	font-size: 15px;
	font-weight: 900;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	background: #E0815145;
}

.impact-badge-container{
	background: linear-gradient(to bottom, #F9F5F5 50%, white 0%);
}

.domain-badge{
	float: right;
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	font-family: Satoshi-Black;
	font-size: 15px;
	font-weight: 900;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	background: #E0815145;
}

.research-badge{
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
	font-family: Satoshi-Black;
	font-size: 16px;
	font-weight: 900;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	background: #E0815145;
}

.news-card{
	padding: 35px;
	min-height: 400px;
	height:100%;
}

.quote{
	margin-top: .2rem;
	margin-right: 1.5rem;
	min-width: 40px;
	max-width: 40px;
}

.community-header-block{
	height:370px;
}

.community-page-headline{
	font-size:40px;
}

.community-page-subheader{
	font-size:20px;
}

.community-container{
	padding:0% 7%; 
}

.community-cop-number{
	font-size:40px;
}

.community-cop-numb-metric{
	font-size:16px;
}

.contact-heading{
	font-size:36px;
}

.contact-body-text{
	font-size:20px;
}

.timeline{
	width: 100%;
	height:700px;
}

.clickable{
	cursor: pointer;
}

.error{
	background-color: #dc3545;
}

.success{
	background-color: #28a745;
}

@media all and (max-width: 820px) {
	.header-container {display: none;}
	.mobile-header-container {display: block;}
	.mobile-header-container-grey {display: block;}
	.mobile-header-container-gradient {display: block;}
}

@media all and (max-width: 768px) {
	.home-banner{
		min-height:  430px;
		background-image: url('../img/top.jpg');
		background-size: cover;
	}
	.vision{
		max-width: 350px;
	}
	.contact-heading{font-size:28px;}
	.contact-body-text{font-size:16px;}
}

@media all and (min-width: 769px) and (max-width: 1023px) {
	.home-banner{
		min-height:  1000px;
	}

}

@media all and (max-width: 1023px) {
	.health-cta{
		min-width: unset;
		max-width: 330px;
	}
	.health-domains{
		min-width: unset;
		max-width: 330px;
	}
	.domain-badge{
		float: unset;
		margin-bottom: 10px;
	}
	.use-headline-text{
		font-size:28px;
	}
	.use-headline-subheader-text{
		font-size:16px;
	}
	.use-explain{
		max-width: 450px;
		font-size: 16px;
		line-height: 22px;
	}
	.use-explain-container{
		height:250px;
	}
	.use-header{
		height:319px;
	}
	.use-list{
		width: fit-content;
		padding-left: 0px;
	}

	.uses-list{
		padding-top: 0px;
		padding-bottom: 20px;
	}

	.use-title{
		font-size: 20px;
	}

	.use-explain-badge{
		margin-left: 70px;
	}

	.news-container{
		background-color: white;
		background: none;
	}

	.build-innovate-cards-header-text{
		font-size:24px;
	}
	.community-header-block{
		height:272px;
	}

	.community-page-headline{
		font-size:28px;
	}

	.community-page-subheader{
		font-size:16px;
	}

	.community-cop-number{
		font-size:26px;
	}

	.community-cop-numb-metric{
		font-size:12px;
	}

	.footer{
		grid-template-rows: auto auto;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media all and (max-width: 1279px) {
	.blurb-grid{  grid-template-columns: none; }
}



/*Carousel overrides*/
.indicator-container [data-bs-target]{
	background-color: #A95131 !important;
}

.round-indicator{
	border-radius: 50% !important;
	height: 12px !important;
	width: 12px !important;
	margin-right: 10px !important;
}

@media all and (max-width: 639px) {
	.prev-icon{
		padding-right: 200% !important;
		background-position: unset !important;
		background-size: unset !important;
	}

	.next-icon{
		margin-right: -130% !important;
		background-position: unset !important;
		background-size: unset !important;
	}
}

@media all and (min-width: 640px) {
	.prev-icon{
		margin-right: -100px !important;
		background-position: unset !important;
		background-size: unset !important;
	}

	.next-icon{
		margin-left: -100px !important;
		background-position: unset !important;
		background-size: unset !important;
	}
}
/*Carousel overrides*/