/*Tailwind breaks setting the header defaults on purpose, so we'll make them classes*/
.h1 {
	font-size: 96px;
}

.h2 {
	font-size: 36px;
}

.h3 {
	font-weight: 700;
	font-size: 24px;
}

.satoshi-bold{
	font-weight:900;
	font-family:Satoshi-Bold;
}

.font-16px{
	font-size: 20px;
}

.font-20px{
	font-size: 20px;
}

.font-22px{
	font-size: 22px;
}

.font-24px{
	font-size: 24px;
}

.font-40px{
	font-size: 40px;
}

.rounded-5px{
	border-radius: 5px;
}

.border-3{
	border-width: 3px;
}

p {
	font-size: 16px;
}

.home-banner{
	min-height: 1500px;
	background-blend-mode: overlay;
	background-image: url('../img/top.jpg'), linear-gradient(rgba(56,56,56,0.5),rgba(56,56,56,0.5));
}

.banner-text{
	font-weight: 500;
	max-width: 605px;
}

.logo{
	height: 49px;
	padding-right: 17px;
}

.code-logo{
	height: 45px;
}

.header-container{
	margin-top: 22px;
	padding-left: 42px;
	padding-right:30px;
	height: 55px;
	font-size: 20px;
}

.mobile-header-container{
	display: none;
	padding-left: 25px;
	background-color: white;
}

.mobile-header{
	min-height:80px;
}

.mobile-menu{
	margin-left: 36%;
	margin-bottom: 5%;
	font-size: 24px;
	font-weight: 500;
}

.open-menu-button-div{
	margin-right: 25px;
}

.close-menu-button-div{
	margin-right: 25px;
}

.close-menu-button{
	height:50px;
}

.footer{
	font-size: 20px;
}

.news{
	margin-right:-20px
}

.use-cases{
	margin-right:10px
}

.use-entry-desc{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.use-entry{
	padding-left: 20px;
	margin-bottom: 30px;
}

.use-entry-last{
	padding-left: 20px;
}

.use-line{
	margin-right:46%;
	height:100%;
	margin-top:-4px;
	border-right-style: solid;
	border-right-width: 3px;

}

.use-container{
	padding-top:65px;
}

.use-num-container{
	margin-right: 80px;
}

.use-header{
	height: 370px;
	padding-top: 160px;
	padding-bottom:80px;
	background: linear-gradient(90deg, #A95131 0%, #292828 100%);
	mix-blend-mode: normal;
}

.use-explain{
	max-width: 450px;
	font-family: Satoshi-Bold;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.use-num{
	font-family: Satoshi-Bold;
	font-weight: 700;
	font-size: 57px;
	line-height: 76px;
	width: 123px;
}

.use-num-desc{
	font-weight: 400;
	font-size: 23px;
	line-height: 31px;
}

.uses-list{
	padding-top: 40px;
	padding-bottom: 170px;
}

.use-list{
	padding-left: 80px;
	width: 800px;
}

.use-explain-container{
	height:190px;
}

.use-explain-badge{
	border-radius: 5px;
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	font-family: Satoshi-Black;
	font-size: 15px;
	font-weight: 900;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	background: #E0815145;
}


@media all and (max-width: 768px) {
	.header-container {display: none;}
	.mobile-header-container {display: block;}
	.home-banner{
		min-height:  430px;
		background-image: url('../img/top.jpg');
		background-size: cover;
	}
}
